<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{site_name}} - Register</title>
</head>
<body>
REGISTER

<form method="post" action="/register">
    Username:
    <br>
    <input type="text" name="username"/>
    <br>
    Pwd 1:
    <br>
    <input type="password" name="password_1"?>
    <br>
    Pwd 2:
    <br>
    <input type="password" name="password_2"?>
    <br>
    <input type="submit"/>

    <br><br>
    <a href="/login">login</a>

    {{warning}}

</form>


</body>
</html>